
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    
}

@media screen and (max-width: 766px) {
    body{
        font-size: 6px;
    }
    .mb-left{
        display: block; 
        width: 400px;
        float: left;
    }
    .mb-left{display: none;}
    .content{
        overflow: hidden;
    }

   .menu{display: none;}
   .mb-menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin: 14px;        
   }
   
   ul.mb-ul{
       padding-left: 0px;
   }
   
   img.img-lan{width: 23px;}

   i.fa-bars{color: #D29F34;}
}
@media screen and (min-width: 767px) {
    body{
        font-size: 13px;
    }
    .mb-menu{
        display: none;
    }
    img.img-lan{width: 23px;}

    a.lang.dropdown-toggle, a.lang.dropdown-toggle:hover{
        color: white;
    }
    
    .mb-left{display: none;}
}

p.bg-light{
    margin: 0;
    text-align: center;
    padding: 6px 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-transform: capitalize;
}

a.nav-link{
    color: black;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-left: 1em !important;
}
a.nav-link:hover{
    background: white;
    color: black;
}




.slide{
    /* height: 700px; */
    position: relative;
}

.slide-banner{
    position: absolute;
    top: 40%;
    z-index: 2;
    width: 100%;
    
}
.slide-banner p{
    color: white;
    font-size: 2rem;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    font-weight: 900;
}
.slide-banner h1{
    color: white;
    margin: 0px;
    text-align: center;
    white-space: nowrap;
    font-weight: 900;
    font-size: 3rem;
}

.menu{
    margin: 20px 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul.list-info{
    margin-left: -2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* height: 100%; */
}
ul.list-info li{
    margin-left: 4%;   
    list-style-type: none;
    display: block;
}
ul.list-info li a{
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}
span.address{
    color: #F4F4F3;
}
span.phone{
    color: #F4F4F3;
}

ul.list-menu{
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
ul.list-menu li{
    margin-left: 4%;
}
ul.list-menu li a{
    color: #F4F4F3;
    text-decoration: none;   
}
ul.list-menu li a:hover{
    /* text-decoration: none; */
}


/* silde */
#demo{
    height: 100%;
}

/* body */
/* dichvu */
.dichvu{
    padding: 50px 0;
    /* margin-top: 20px; */
    background: #FBFBFB;
}

.dichvu-title{

}

.dichvu-title span{
    font-weight: 700;
    font-size: 13px;
    color: #D8D8D8;
}

ul.dichvu-tab{
    list-style-type: none;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

ul.dichvu-tab li{
    display: block;
}

ul.dichvu-tab li a{
    display: inline;
    text-decoration: none;
    padding: 0;
    margin-right: 50px;
    font-size: 1.5rem;
    font-weight: 1000;
    color: #9b9b9b;
}

ul.dichvu-tab li a:hover{
    color: #145C90;
}

.active a{
    color: #145C90 !important;
}


.dichvu-content{
    margin-top: 40px;
}

.dichvu-body-card{
    
}

.border-dichvu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.dichvu-body-card img{
    width: 50px;
}

.dichvu-img{
    width: 50px;
}
h3.title{
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 1000;
}
.more a{
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none !important;
    font-size: 14px;
}


/* sukien */
.sukien{
    background: #FFFFFF;
    padding: 60px 0;
}

.sukien-box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100;
}
.sukien-box1 h2{
    text-transform: uppercase;
    font-weight: 1000;
}
.slide-sukien{
    position: relative;
}
.slide-sukien img{
    margin: 0 10px;
}

.left-arrow{
 
    position: absolute;
    top: 50%;
    /* width: 40px;
    height: 40px; */
    z-index: 1;
    background: #FBFBFB;
    box-shadow: 0 5px 3px 0 rgba(0,0,0,.12);
    width:30px;
    height: 30px;
    border-radius: 50%;
}
.left-arrow::before{
    position: absolute;
    top: 23%;
    left: 40%;

}
.right-arrow{
    /* width: 40px;
    height: 40px; */
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: 1;
    background: #FBFBFB;
    box-shadow: 0 5px 3px 0 rgba(0,0,0,.12);
    width:30px;
    height: 30px; 
    border-radius: 50%;
}
.right-arrow::before{
    position: absolute;
    top: 25%;
    right: 40%;
}

/* thongbao */

.tb{
    padding: 40px 0;    
    background: #FBFBFB;
}

.tb-title h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 1000;
    /* font-family: 'UTMNeutra'; */
    color: #2c2c2c;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
}

.tb-car{
    /* border: rgba(0, 0, 0, 0.12) 2px solid; */
    border: 1px solid #e3e8ea;
}

.tb-card a.tb-box-info{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row nowrap;
    padding: 15px;
}

img.tb-info-img{
    width: 20%;
    vertical-align:top;
}

.tb-box-car{
    overflow: hidden;
}
.tb-box-car h4{
    font-size: 16px;
    color: #0000ee;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
}

/* /gioi thieu */
.gioithieu{
    padding: 40px 0;    
    background: #FBFBFB;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-text h2{
    text-transform: uppercase;
    font-weight: 1000;
}
.img-text p{
    font-size: 14px;
}
.img img{
    width: 100%;
}
/* dooi tac */
.dt{
    background: #FBFBFB;
    padding: 40px 0;
}

.dt-title{
    width: 100%;
}

.dt-title h3{
    text-align: center;
    font-size: 15px;
    font-weight: 1000;  
    color: #2c2c2c;
    line-height: 20px;  
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 8px;
}
.dt-content{
    display: flex;
    flex-flow: row nowrap;
    height: 100;
    justify-content: space-around;
}

footer{
    /* padding-top: 20px; */
    background-color: #025B93;
}

.footer-content{
    padding: 20px 0;
    position: relative;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

h3.title-footer{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
}

.ft-content-left{
    /* position: absolute;
    z-index: 1; */
    
}
.ft-content-left img{
    color: white;
}
.ft-content-left p,.ft-content-left p a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.ft-content-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
 ul.footer-menu {
    /* list-style-type: none; */
    columns: 2;
    padding-left: 0px;
}
ul.footer-menu li{
    list-style-type: none;
}
ul.footer-menu li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.ft-content-right{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.ft-ct-right{
    /* display: inline-block; */
}
ul.footer-follow{ 
    padding-left: 0px;
    display: flex;
    flex-flow: row nowrap;
}
ul.footer-follow li{
    list-style-type: none;
    margin: 0 15px;
}
ul.footer-follow li a{
    text-decoration: none;
}
ul.footer-follow li a i{
    background: #CCDEE9;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
}

ul.footer-follow li a i::before{
    position: absolute;
    top: 15%;
    left: 24%;
}

.footer-bottom{
    padding: 20px 0;
}

.end{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
img.img-end{ 
    width: 93px;
    height: 24px;
}
.end p{
    color: white;
    font-size: 14px;
    margin-bottom: 0px;
}
